html {
  height:100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  font-family: "Poppins";
}

.header {
  height: 10vh;
}

.header ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header ul li {
  display: inline;
  text-align: center;
  padding: 16px 24px;
}

.header ul li a {
  text-decoration: none;
  color: #333333;
  font-weight: 400;
}

.mainBody {
  background-color: #333333;
  color: #ffffff;
  height: 80vh;
}

#maincontent {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
}

.footer {
  height: 10vh;

}
